*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

// Main Elements

html {
  margin: 0 auto;
  height: 100%;
}

body {
  width: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

header {
  width: inherit;
  height: 20vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}



h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: goldenrod;
  font-size: 4em;
  padding: 10px;
  line-height: 2em;
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-left: 10px;
}

section {
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-self: center;
  align-items: center;
}

form {
  width: 275px;
  height: 300px;
  // border: 2px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;
}

label {
  font-size: 1.5em;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  display: block;
  margin-left: 20px;
  justify-content: left;
}


li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

select {
  width: 80%;
  height: 30px;
  border: 2px solid black;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

p {
  color: gray;
  font-size: .7em;
  padding-left: 20px;
  margin-top: -20px;
}


// Login Page Styles

.login-body {
  background-image: url(../images/deathstartravel.gif);
}

.login-form {
  height: 300px;

}

.hotel-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.form-login-h2 {
  font-size: 3em;
  justify-content: center;
  text-align: center;
}

.form-login {
  width: 275px;
  height: 300px;
  border: 2px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.login {
  border: 2px solid black;
  margin-left: 20px;
  padding: 10px;
  width: 20em;
  height: 30px;
  display: block;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.submit-login-btn {
  width: 80%;
  background-color: goldenrod;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  margin-left: 20px;
}





.p-hint-login {
  margin-bottom: 20px;
  margin-left: 2px;
}




@import "./customer.scss";
@import "./manager.scss";