*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: inherit;
  height: 20vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

  h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: goldenrod;
    font-size: 4em;
    padding: 10px;
    line-height: 2em;
  }
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-left: 10px;
}

section {
  width: 100%;
  // height: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-self: center;
  align-items: center;
}

form {
  width: 275px;
  height: 300px;
  border: 2px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;

  .form-login-h2 {
    font-size: 3em;
    justify-content: center;
    text-align: center;
  }

  .login {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .submit-login-btn {
    width: 80%;
    background-color:goldenrod;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-size:1em;
    padding: 15px;
  }

  label {
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    display: block;
    margin-left: 20px;
    justify-content: left;
  }

  p {
    color: gray;
    font-size: .7em;
    padding-left: 20px;
    margin-top: -20px;
  }

}

input {
  border: 2px solid black;
  margin-left: 20px;
  padding: 10px;
  width: 20em;
  height: 30px;
  display: block;
  justify-content: center;
  text-align: left;
}

body {
  width: inherit;
  height: 1000px;
  // background-color: black;
  // background-image: url(../images/deathstartravel.gif);
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.p-hint-login {
  margin-bottom: 20px;
  margin-left: 2px;
}





// CUSTOMER STYLES

.customer-main {
  width: inherit;
  height: 100%;
  // background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  // background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  // background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  // display: grid;
  // grid-template-columns: 1.5fr, 5fr, 1.5fr;
  // grid-template-rows: 2fr;
  // grid-template-areas: 'left-aside-menu', 'results-body', 'right-aside-history'
  // margin-bottom: 100px;

}

.section-customer-main {
  // width: 100%;
  height: inherit;
  // display: grid;
  // grid-template-columns: 1fr, 5fr, 1.5fr;
  // grid-template-rows: 2fr;
  // grid-template-areas: 'left-aside-menu', 'results-body', 'right-aside-history'

}

aside {
  width: 30%;
  height: 100%;
  // display: flex;
  // align-items: space-around;
  // float: left;
  // grid-area: left-aside-menu;
  // justify-content: left;
  // align-content: flex-start;
  // align-items: flex-start;

  form {
    height: 400px;
    display: flex;

    .aside-menu-ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // align-items: space-around;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-around;

      }
    }
  }
  .filter-label {
    display: inline;
  }
  .filter-checkbox {
    display: inline;
  }

}


.div-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

select {
  width: 40%;
  justify-content: center;
}

.display-result-section {
  width: 40%;
  height: 800px;
  background-color: whitesmoke;
  border: 2px solid red;
}