// CUSTOMER STYLES

.customer-body {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.customer-greeting-message-h2 {
    color: goldenrod;
    font-family: 'Rajdhani', sans-serif;
    font-size: 4em;
    margin-left: 20px;
}

.customer-main {
    margin: 0px;
    height: 720px;
    background-image: url('../images/nightsky.jpg');
}

.section-customer-main {
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 1.5fr, 2fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'left middle middle right'
        'left middle middle right'
        'left middle middle right';

}

.aside-filter-menu {
    border: 4px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;

}

.filter-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.filter-menu-form {
    height: 100%;
}

.filter-input {
    width: 80%;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


.aside-menu-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.datepicker {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.filter-label {
    display: inline;
}

.filter-checkbox {
    display: inline;
    margin-left: 10px;
}

.div-checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.submit-btn {
    background-color: goldenrod;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.submit-btn:hover {
    color: rgb(197, 144, 64);
    background-color: rgb(134, 15, 15);
}

.display-results-section {
    border: 4px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 800px;
    height: 100%;
    // min-height: 0px;
    max-height: 600px;
    margin: 0px;
    justify-content: flex-start;
    background-image: none;
    background-color: cornflowerblue;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.search-results-card {
    width: 90%;
    height: 300px;
    background-color: hsl(191°, 62%, 92%);
    margin: 5px;
    border: 10px solid;
    border-color: lightblue;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'header header'
        'image-left details-right'
        'price-left book-right';
}

.right-history-aside {
    width: 300px;
    height: 100%;
    margin: 0px auto;
    border: 4px solid black;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}


.card-header-div {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.room-image-div {
    grid-area: image-left;
}

.details-card-div {
    grid-area: details-right;
    margin-right: 30px;
}

.details-ul {
    display: flex;
    justify-content: space-around;
}

.details-li {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;
    align-content: baseline;

    p {
        display: block;
        color: black;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5em;
        text-align: left;
    }

    .details-label {
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }
}

.details-cost-per-night-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: price-left;

    p {
        font-size: 2em;
        color: black;
        font-family: 'Rajdhani', sans-serif;
        font-weight: bold;
        text-align: center;
    }
}

.card-cost-h3 {
    margin-left: 10px;
}

.details-btn-div {
    grid-area: book-right;
    height: auto;
    justify-content: space-evenly;
    display: flex;
}

.book-label {
    font-size: 2em;
    font-weight: bold;
}

.book-btn {
    width: 200px;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: goldenrod;
}

.book-btn:hover {
    color: rgb(197, 144, 64);
    background-color: rgb(134, 15, 15);
}


.room-image-pic {
    width: 200px;
    height: 140px;
    margin-left: 10px;
    border: 10px solid rgb(36, 114, 139);
    border-radius: 5px;
}

.customer-booking-history-div {
    width: 90%;
    display: flex;
    scroll-snap-align: center;
    overflow: scroll;

}

.booking-history-results-div {
    display: flex;
    height: 100px;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.history-results-card {
    height: 120px;
    background-color: hsl(191°, 62%, 92%);
    margin: 5px;
    border: 10px solid;
    border-color: lightblue;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;

}

.spending-total-p {
    font-size: 2em;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    text-align: center;
}

.log-out-link {
    margin-top: 50px;
    margin-right: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: goldenrod;
    text-decoration: none;
}

.log-out-link:hover {
    color: rgb(134, 15, 15);
}